# Node
node_modules/
dist/
.env

# Editor
.vscode/
.DS_Store
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
Thumbs.db
Desktop.ini

# Misc
*.zip
*.bak
*.tmp

# Binary/audio
*.mp3
*.wav
*.ogg
*.glb
*.ttf
*.otf
*.jpg
*.png
*.ico
*.psd
*.ai

# Git
.gitattributes
